* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .img-container img{
    max-width: 100%;
    width: 100%;
  }

  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about-us {
    /* background-image: url('/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
  }
  
  .rooms {
    /* background-image: url('/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .book-now {
    /* background-image: url('/images/img-8.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  /* About Us */
  .about-us h1{
  font-size: 70px;
  }
  .about-us-container{
    display: grid;
    grid-template-areas:
      'input1 input2';
    gap: 10px;
  }

  .about-text{
    grid-area: input1;
    font-size: 18px;
    font-weight: 500;
  }
  .about-img{
    grid-area: input2;
    max-width: 100%;
  }
  .about-img img{
    width: 100%;
  }
  .about-section{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    min-height: 100vh;
  }
  #beautiful-shores{
    background-image: url('/public/images/sunrise-pose.jpg');
  }
  #one-with-nature{
    background-image: url('/public/images/sunset-reeds.jpg');
    min-height: 150vh;
  }
  #ocean-rocks{
    background-image: url('/public/images/ocean-rocks.jpg');
  }
  #night-life{
    display: grid;
    grid-template-areas:
      'input1 input2';
    gap: 10px;
    background-color: black;
  }
  .about-content:nth-child(1){
    grid-area: input1;
    width: 50vw;
  }
  .about-img{
    grid-area: input2;
  }
  .note-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .note-heading{
    font-weight: bolder;
    font-size: 80px;
  }
  .note-text{
    font-size: 30px;
  }
  #about-note-shores{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    white-space: normal;
    justify-content: center;
    padding: 2rem;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
#about-note-nature{
  width: 100%;
  min-height: 40vh;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  white-space: normal;
  justify-content: center;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about-content{
color: white;
font-size: 125px;
font-weight: bolder;
padding: 2rem;
}
#about-note-rocks{
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  white-space: normal;
  text-align: center;
  padding: 2rem;
  font-size: 125px;
}