* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .img-container img{
    max-width: 100%;
    width: 100%;
  }
  .actionColumns{
    display: flex;
    overflow: auto;
    max-width: 100%;
    white-space: nowrap;
    gap: 50px;
    justify-content: center;
    font-size: 30px;
    border-bottom: 5px solid rgb(233, 233, 233);
    margin: 1rem;
  }
  .actionColumns span{
    transition: 1s;
    border-bottom: 5px solid rgb(255, 255, 255);
    cursor: pointer;
  }
  .actionColumns span:hover{
    color: #1f98f4;
    border-bottom-color: #1f98f4;
  }
  .tab_active{
    color: #1f98f4;
    border-bottom-color: #1f98f4;
  }
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about-us {
    /* background-image: url('/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
  }
  
  .rooms {
    /* background-image: url('/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .book-now {
    /* background-image: url('/images/img-8.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  /* About Us */
  .about-us h1{
  font-size: 70px;
  }
  .about-us-container{
    display: grid;
    grid-template-areas:
      'input1 input2';
    gap: 10px;
  }

  .about-text{
    grid-area: input1;
    font-size: 18px;
    font-weight: 500;
  }
  .about-img{
    grid-area: input2;
    max-width: 100%;
  }
  .about-img img{
    width: 100%;
  }
  .about-section{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    min-height: 100vh;
  }
  #beautiful-shores{
    background-image: url('/public/images/sunrise-pose.jpg');
  }
  #one-with-nature{
    background-image: url('/public/images/sunset-reeds.jpg');
    min-height: 150vh;
  }
  #ocean-rocks{
    background-image: url('/public/images/ocean-rocks.jpg');
  }
  #night-life{
    display: grid;
    grid-template-areas:
      'input1 input2';
    gap: 10px;
    background-color: black;
  }
  .about-content:nth-child(1){
    grid-area: input1;
    width: 50vw;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .about-img{
    grid-area: input2;
  }
  .note-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .note-heading{
    font-weight: bolder;
    font-size: 80px;
  }
  .note-text{
    font-size: 30px;
  }
  #about-note-shores{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    white-space: normal;
    justify-content: center;
    padding: 2rem;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
#about-note-nature{
  width: 100%;
  min-height: 40vh;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  white-space: normal;
  justify-content: center;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about-content{
color: white;
font-size: 125px;
font-weight: bolder;
padding: 2rem;
}
#about-note-rocks{
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  white-space: normal;
  text-align: center;
  padding: 2rem;
  font-size: 125px;
}
/* Book */
#book-now-heading,#book-now-description{
  padding: 4rem;
}
#book-now-heading{
  display: flex;
  justify-content: center;
  font-size: 80px;
}
#book-now-description{
  display: grid;
  grid-template-areas:
    'image image image'
    'details details details';
  /* border-radius: 12px;
  box-shadow: 0 0 5px 5px rgb(60, 60, 60); */
  margin: 2rem;
}
#description-img{
  grid-area: image;
  display: grid;
  grid-template-areas:
    'main side1 side2'
    'main side3 side4';
}
#description-img img{
  max-width: 100%;
  border-radius: 12px;
  height: 100%;
  padding: 12px;
}
.description-img:nth-child(1){
  grid-area: main;
}
.description-img:nth-child(2){
  grid-area: side1;
}
.description-img:nth-child(3){
  grid-area: side2;
}
.description-img:nth-child(4){
  grid-area: side3;
}
.description-img:nth-child(5){
  grid-area: side4;
}

#description-detail{
  grid-area: details;
  padding: 2rem;
}
#room-description{
  font-size: 30px;
  padding: 2rem;
}
#room-dimensions{
  padding: 2rem;
  font-size: 30px;
}
#room-features{
  padding: 2rem;
  font-size: 30px;
}
#room-price-container{
  width: 100%;
  display: flex;
  justify-content: left;
}
#room-price{
  font-size: 40px;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 24px;
  text-decoration: none;
}
.highlight{
  font-size: 50px;
  font-weight: 550;
}
#booking-details-container{
  display: grid;
  grid-template-areas:
    'form terms';
  /* border-radius: 12px;
  box-shadow: 0 0 5px 5px rgb(60, 60, 60); */
  margin: 2rem;
}
#booking-details{
  grid-area: form;
  padding: 2rem;
  width: 40vw;
}
#booking-details h1{
  font-size: 50px;
}
#booking-form{
  padding: 2rem;
}
.form-input{
  display: grid;
  grid-template-areas:
    'label label label'
    'validation input input';
}
.form-input label{
  grid-area: label;
  font-size: 25px;
  margin-top: 2rem;
}
.form-input .input-validation-field{
  grid-area: validation;
  background-color: rgba(128, 128, 128, 0.278);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 2px solid rgba(128, 128, 128, 0.482);
  border-radius: 100%;
}
.form-input input{
  grid-area: input;
  background-color: rgba(128, 128, 128, 0.278);
  padding: 12px;
  border: 2px solid rgba(128, 128, 128, 0.482);
  border-radius: 12px;
  margin-right: 5rem;
}
#booking-details-terms{
  padding: 2rem;
}
#terms{
  height: 60%;
  overflow: auto;
  font-size: 18px;
  background-color: rgba(128, 128, 128, 0.482);
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 5%;
}
#terms-accept-box{
  font-size: 25px;
  display: flex;
  justify-content: left;
}
#terms-accept-box input{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 4rem;
}
#book-btn-container{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
#book-btn{
  max-height: 4rem;
  font-size: 30px;
  padding: 12px;
  border-radius: 12px;
  background-color: #1f98f4;
  color: white;
  text-align: center;
  display: flex;
}
#book-btn img{
  max-height: 40px;
}